html, body {
	width: 100%;
	height: 100%;
}

.navbar-fixed-top .navbar-inner {
	padding-left: 20px;
}

#connect-form {
	padding: 5px 10px;
}
#connect-form .control-group {
	margin-bottom: 10px;
}
#connect-form .control-label {
	width: 80px;
}
#connect-form .controls {
	margin-left: 100px;
}

#tab-content {
	height: 100%;
	width: 100%;
	padding-top: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: monospace;
}
.messages {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	margin: 0;
}
.messages>li {
	padding: 1px 0;
}